:root {
    --primarycolor: #F3F4F6;
    --umangecolor: #1E40AF;
}

.main-container {
    margin: auto;
    background-color: var(--primarycolor);
    padding: 0.1rem;
    border-top-right-radius: 1rem;

}

.logo {
    background-color: var(--primarycolor);
    margin: auto;
    text-align: center;
}

.brand-color {
    color: var(--umangecolor);
}

.circular--square {
    border-radius: 50%;
    block-size: 100px;
    vertical-align: middle;
    padding-left: 2rem;
}

.header-tag {
    font-size: 1.5rem;
   margin-left: 22rem;
text-align: center;

}

.contact-image {
    block-size: 35px;
    vertical-align: bottom;
    padding-left: 25rem;
}

.contact {
    font-weight: bold;
    float: right;
    margin-top: -3rem;

}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  .topnav a.active {
    background-color: #04AA6D;
    color: white;